.body-content {
  background: var(--clr-black);
}

.main-content {
  color: var(--clr-white);
}
.main-content section[class*=task-] {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content .task-1 .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.2rem;
}
.main-content .task-1 .grid-container .grid-item {
  height: min(15rem, 20vh);
  width: min(20rem, 20vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-light-blue);
  color: var(--clr-black);
  transition: all 0.3s ease-in-out;
}
.main-content .task-1 .grid-container .grid-item > p {
  font-size: 2.4rem;
  transition: all 0.3s ease-in-out;
}
.main-content .task-1 .grid-container .grid-item:hover {
  background: var(--clr-dark-blue);
}
.main-content .task-1 .grid-container .grid-item:hover > p {
  font-size: 3rem;
  color: var(--clr-white);
}
.main-content .task-2 .pc {
  grid-area: pc;
}
.main-content .task-2 .web {
  grid-area: web;
}
.main-content .task-2 .settings {
  grid-area: settings;
}
.main-content .task-2 .code {
  grid-area: code;
}
.main-content .task-2 .cpu {
  grid-area: cpu;
}
.main-content .task-2 .bytes {
  grid-area: bytes;
}
.main-content .task-2 .done {
  grid-area: done;
}
.main-content .task-2 .grid-container {
  max-width: 80%;
  display: grid;
  gap: 0.5rem;
  grid-template-areas: "pc pc web settings" "code cpu web bytes" "code done done done";
}
.main-content .task-2 .grid-container .grid-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  background: var(--clr-dark-red);
  transition: all 0.3s ease-in-out;
}
.main-content .task-2 .grid-container .grid-item img {
  width: min(8rem, 50%);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-content .task-2 .grid-container .grid-item p {
  font-size: 1.4rem;
  transition: inherit;
}
.main-content .task-2 .grid-container .grid-item:hover {
  background: var(--clr-pastel);
}
.main-content .task-2 .grid-container .grid-item:hover p {
  color: var(--clr-black);
}